.heading{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 1px solid white;
}
.footer{
    position: fixed;
    bottom: 0;
    background-color:darkslategrey;
    color: white;
    text-align: center;
    width: 100%;
    padding: 7px;
}